*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.content{
  display: flex;
}

.style-text-head{
  color: #d19186;
  font-size: 30px;
}

.style-bold-text-head{
  font-weight: bold;
  color: #be4616;
}

.seal{
  width: 20px;
  height: 20px;
}

.text-verif-head{
  font-size: 20px;
  color: #9ba2af;
  font-style: italic;
}

.select-head{
  border: 2px solid #be4616;
  border-radius: 25px;
  color: #be4616  ;
  width: 120px;
  text-align: center;
  height: 40px;
  font-weight: bold;
  display: flex;
}

.select-head option{
  font-weight: bold;
}

.select-head:focus {
  outline-color: #be4616;
}

.verif-head {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 25px 40px 25px 40px;
  box-shadow: 0px 0px 5px 0px black;
  margin-bottom: 25px;
}

.icon-side-bar{
  width: 30px;
  height: 30px;
}

.left-side-bar{
  margin: 0px 15px 0px 30px;
}

.in-left-side-bar{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.btn-side-bar{
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 220px;
  height: 50px;
  display: flex;
  justify-content: start;
  padding: 10px 20px;
  border-radius: 50px;
}

.text-side-bar{
  font-weight: bold;
  font-size: 20px;
}

.btn-trending{
  height: 50px;
  width: 220px;
  border-radius: 50px;
  color: #be4616;
  background-color: white;
  border: 3px solid #be4616;
  box-shadow: 0px 0px 3px 0px grey;
}

.trending{
  margin-top: 30px;
}

.pp-head-main-content{
  width: 50px;
  border-radius: 50%;
}

.text-head-main-content{
  height: 50px;
  overflow: hidden;
  resize: none;
  width: 90%;
  padding-left: 5px;
  outline: none;
  font-size: 20px;
  border: none;
}

.text-head-main-content::-webkit-scrollbar{
  display: none;
}

.right-side-bar{
  background-color: #fafaeb;
  width: 400px;
  padding: 25px;
  border-radius: 50px;
  box-shadow: 0px 0px 5px 0px;
  margin: 0px 15px 0px 15px;
  height: 330px;
}

.right-side-bar h3{
  font-weight: bold;
  font-size: 25px;
  padding: 10px 10px 0px 45px;
  margin-bottom: 10px;
}

.add-side-bar{
  background-color: white;
  width: 250px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 20px;
  margin: 5px;
  box-shadow: 0px 0px 4px 0px;
}

.user-profile{
  width: 40px;
  border-radius: 50px;
}

.name-right-side-bar{
  text-decoration: none;
  color: #be4616;
  font-size: 18px;
}

.add{
  width: 25px;
  margin: 0px 50px;
}

.see{
  text-decoration: none;
  color: gray;
  margin-top: 20px;
  font-size: 20px;
}

.see:hover{
  color: #be4616;
}

.profile-right-side-bar{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-content{
  box-shadow: 0 0 6px #c1c1c1;
  width: 800px;
  padding: 15px 30px 20px 30px;
  margin: 0px 15px 0px 15px;
}

.profile-main-content{
  display: flex;
  gap: 40px;
  justify-content: center;
  margin-bottom: 100px;
}

.head-main-content{
  border: 1px solid black;
  padding: 20px 20px 0px 20px;
}

.three-content img{
  width: 30px;
}

.three-content{
  display: flex;
}

.footer{
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mic{
  margin: 0px 20px 0px 20px;
}

.btn-share{
  border: none;
  background-color: #e65f00;
  color: white;
  font-weight: bold;
  width: 100px;
  height: 40px;
  border-radius: 50px;
}

.zero{
  text-align: end;
  margin-bottom: 10px;
}

h1{
  color: #dde6f0;
  font-size: 50px;
  margin: 20px 0px 20px 0px;
}
.profile-content-msg .profile{
  background-color: green;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  text-align: center;
  padding: 15px;
  font-weight: bold;
  color: white;
  font-size: 20px;
}

.profile-content-msg{
  display: flex;
  align-items: center;
  gap: 10px;
}

.days{
  color: grey;
}

.content-msg{
  box-shadow: 0px 0px 5px grey;
  margin-bottom: 20px;
  padding: 10px 20px 20px 20px;
}

.msg-content p{
  margin-top: 15px;
}

.btn-like{
  width: 20px;
}

.btn-comment{
  width: 20px;
}

.btn-share-1{
  width: 20px;
}

.icon-msg-content{
  display: flex;
  gap: 30px;
  margin: 10px 0px 10px 0px;
  justify-content: space-around;
}

.like{
  display: flex;
  align-items: center;
  gap: 10px;
}

.comment{
  display: flex;
  align-items: center;
  gap: 10px;
}

.share{
  display: flex;
  align-items: center;
  gap: 10px;
}